.container {
width: auto;
height: auto;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 50px !important;
}
.box {
  width: 300px;
  height: 300px;
}

body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
